<div class="home__container">
    <app-card
        gameCover="../../../assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$127,99"
        trailerLink="https://www.youtube.com/watch?v=c7nRTF2SowQ"
    ></app-card>

    <app-card
        gameCover="../../../assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$279,87"
        trailerLink="https://www.youtube.com/watch?v=hl-VV9loYLw"
    ></app-card>

    <app-card
        gameCover="../../../assets/ac-cover.jpg"
        gameLabel="BEST OF YEAR"
        gameType="DIGITAL | PS5"
        gamePrice="R$387,62"
        trailerLink="https://www.youtube.com/watch?v=TUbgBVTD7VI"
    ></app-card>

    <app-card
        gameCover="../../../assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$369,00"
        trailerLink="https://www.youtube.com/watch?v=VA3_KRvLRD8"
    ></app-card>

</div>

